
// Base
// ––––––––––––––––––––––––––––––––––––––––––––––––––

html
  font-size $base--font-size
  font-family $base--font-body
  line-height $base--line-height
  color $base--font-color
  font-weight normal
  -ms-text-size-adjust 100%
  -webkit-text-size-adjust 100%

body
  font-size 1em
  margin 0


// Box Sizing FTW
*
*:after
*:before
  box-sizing border-box
