
// Blockquote
// ––––––––––––––––––––––––––––––––––––––––––––––––––

blockquote
  border-left rem(3) solid $color--quaternary
  margin-left 0
  margin-right 0
  padding rem($base--font-size) rem($base--font-size * 1.5)

  & *:last-child
    margin 0
