
// Button
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.button
button
input[type='button']
input[type='reset']
input[type='submit']
  background-color $color--primary
  border rem(1) solid $color--primary
  border-radius rem(4)
  box-sizing border-box
  color $color--initial
  cursor pointer
  display inline-block
  font-size rem(11)
  font-weight 700
  letter-spacing rem(1)
  min-height $base--spacing * 2.1
  line-height $base--spacing * 2
  padding 0 $base--spacing * 1.5
  text-align center
  text-decoration none
  text-transform uppercase
  white-space nowrap

  &:hover
  &:focus
    background-color $color--secondary
    border-color $color--secondary
    color $color--initial
    outline 0

  &.button--small
    padding 0 $base--spacing
  
  &.button--large
    padding 0 $base--spacing * 3

  &.button--outline
    color $color--primary
    background-color transparent

    &:hover
    &:focus
      color $color--secondary
      background-color transparent
      border-color $color--secondary

  &.button--clear
    color $color--primary
    background-color transparent
    border-color transparent

    &:hover
    &:focus
      color $color--secondary
      background-color transparent
      border-color transparent
