// Typography
// ––––––––––––––––––––––––––––––––––––––––––––––––––
// Layout styles for typographic elements should live in base.styl
// Form and Table styles live in their respective stylesheets
//


//
// SELECTED TEXT
//

::selection
  color $color--white
  background $color--primary
  text-shadow none


p
 margin-top 0

h1
h2
h3
h4
h5
h6
 font-weight 300
 margin-bottom rem(20)
 margin-top 0

h1
 font-size rem(50)
 letter-spacing -.1rem
 line-height 1.2

h2
 font-size rem(42)
 letter-spacing -.1rem
 line-height 1.25

h3
 font-size rem(36)
 letter-spacing -.1rem
 line-height 1.3

h4
 font-size rem(30)
 letter-spacing -.08rem
 line-height 1.35

h5
 font-size rem(24)
 letter-spacing -.05rem
 line-height 1.5

h6
 font-size rem(15)
 letter-spacing 0
 line-height 1.4
